body{
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

:root{
  --primary-brand: #4D5AE5;
  --pressed-state: #404BBF; 
  --dark: #2E2F42;
  --success: #31D0AA;
  --text: #434455;
  --subtle-text: #8E8F99;
  --accent: #E7E9FC;
  --light: #F4F4FD;
  --modal-overlay: #2E2F42;
  --hero-background: #2E2F42;
  --white-background: #ffffff;
  --modal-background: #FCFCFC;
}

.logo{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}

.link{
  text-decoration: none;
}

.logo-studio{
  color: var(--dark);
}

.list{
  list-style: none;
}

.nav-main_link{
  font-weight: 500;
  font-size: 16px;
  line-height: q;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.nav-main :hover{
  color: var(--pressed-state);
}

.nav-main:focus{
  color: var(--pressed-state);
}

.header-call{
  font-style: normal;
}

.adress-info_link{
  letter-spacing: 0.02em;
  color: var(--text);

}

.adress-info :hover{
  color: var(--pressed-state);
}

.adress-info :focus{
  color: var(--pressed-state);
}

/**********main**********/

.main-hero{
  background-color: var(--hero-background);
}

.main-hero_text{
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background);
}

.main-hero_btn{
  background-color: var(--primary-brand);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  cursor: pointer;
}

.main-hero_btn:hover{
  background-color: var(--pressed-state);
}

.main-hero_btn :focus{
  background-color: var(--pressed-state);
}

.main-header{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--modal-overlay);
}

.main-text{
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main-header_img{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}

.our-team{
  background-color: #F4F4FD;
}

.our-team_header{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}

.our-team_li{
  background-color: #fff;
}

.our-team_par{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**********footer**********/

.footer-info{
  background-color: var(--hero-background);
}

